<div class = 'filter-head container-fluid' style="display: none;" >
</div>

<div class="playlist-filters">

    <div class="playlist-filters-wrapper">

        <div class="genre">
            <div class="row">
                <div class="genre-header">
                    <div class="col-sm-6">
                        <h2>Pick A List</h2>
                        <p class="play-everything">
                            <a href="#" class="shuffle-songs"><i class="fa fa-play"></i><strong>Play Everything</strong> 97 hours</a>
                        </p>
                    </div>
                    <div class="col-sm-6 language-wrapper">
                        <div class="language-txt">
                            <h3>Language Filter</h3>
                            <p class="instructions">Currently playing <span class="song-count"><span class="playlist-length"></span> songs out of <span class="total-songs"></span>.</span></p>
                        </div>
                        <div class="btn-group language-toggle" data-toggle="buttons">
                            <label class="btn btn-default clean">
                                <input type="radio" name="options" value="clean" id="clean" autocomplete="off"> Clean
                            </label>
                            <label class="btn btn-default explicit active">
                                <input type="radio" name="options" value="explicit" id="explicit" autocomplete="off" checked> Explicit
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="tags">
                        {% for tag in tags[:TAG_SPLIT_INDEX] %}
                        <li>
                            <p><a class="disabled genre-btn" data-tag="{{ tag.displayname }}" href="#"><span class="play-icon"></span> {{ tag.displayname }} <span class="tag-length">X hours</span></a></p>
                            <p class="list-artists">{{ tag.recommendedtext }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <ul class="tags">
                        {% for tag in tags[TAG_SPLIT_INDEX:] %}
                        <li>
                            <p><a class="disabled genre-btn" data-tag="{{ tag.displayname }}" href="#"><span class="play-icon"></span> {{ tag.displayname }} <span class="tag-length">X hours</span></a></p>
                            <p class="list-artists">{{ tag.recommendedtext }}</p>
                    </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="language-filter-wrapper"></div>

        <div class="filter-footer">
            <div class="row">
                <div class="credits">
                    <h3>Project Credits</h3>
                    <p>NPR Music: {{ COPY.content.music_credits }}</p>
                    <p>Design and Development: {{ COPY.content.viz_credits }}
                </div>

                <div class="tools">
                    <h3>The Full List</h3>
                        <ul class="list-unstyled">
                        <li><a href="http://www.npr.org/2015/06/29/418593463/the-complete-list-npr-musics-favorite-songs-of-2015-so-far" target="_blank">Read the full list <i class="fa fa-fw fa-list-ul"></i> </a></li>
                        <li><a href="https://play.spotify.com/user/npr_music/playlist/2ix23XaPdGiuapiWb2vp0j">Listen on Spotify <i class="icon-spotify-circled"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
