<div class="app-promo">
  <p>These are the best songs of 2015, the ones we couldn't stop playing, the ones we shared, the ones we kept close all year long. Now we're happy to share them with you. Click on the "Launch the app!" link below and you'll hear more than 400 songs in a dozen genres. There's a playlist made up of the very favorite song of the year from more than 50 public radio hosts, a pack of songs that will serve as a little party starter should you be in need, plus selections from veteran musicians and the year's best new artists. There's so much here worth spending time with, from Adele to Zofo. We hope you find something new that you love, too.</p>
  <p><a href="http://apps.npr.org/best-songs-2015/"><strong>► Launch the app!</strong></a></p>
</div>

<hr />

<p>Jump directly to a genre:</p>

<p>
{% for genre, genre_songs in songs.items() %}
  {% if genre_songs|length %}
  <a href="#genre-{{ genre }}"><strong>{{ tags[genre]['displayname'] }}</strong></a><br>
  {% endif %}
{% endfor %}
</p>

{% for genre, genre_songs in songs.items() %}
  {% if genre_songs|length %}
  <a name="genre-{{ genre|lower|replace(' ', '')|replace('/','') }}"></a>

  {% for song in genre_songs %}
    <p>
    <strong>{{ song.artist }}, "{{ song.title }}"</strong>
    {% if song.reviews|length %}
    <br/>
    {{ song.reviews[0].review }}<br/>
    <em>– {{ song.reviews[0].writer }}{% if song.reviews[0].reviewer_affiliation %}, {{ song.reviews[0].reviewer_affiliation }} {% endif %}</em>
    {% endif %}
    </p>
  {% endfor %}
  {% endif %}
{% endfor %}
